{% extends "layout.html" %}

{% load static %}

{% block title %}
	 | Settings
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/social_btn.css' %}">
{% endblock %}



{% block content %}
	<h2>Settings</h2>

	Name:- <b>{{user.first_name}} {{ user.last_name }}</b>
	<br>
	Username:- <i>{{ user }}</i>
	
	<h3>google-oauth2</h3>
	{% if google_login %}
	<p>
		Connected as:- <b><i>({{ google_login.uid }})</i></b>
	</p>
	{% if can_disconnect %}
		<form method="post" action="{% url 'social:disconnect' 'google-oauth2' %}">
			{% csrf_token %}
			<button type="submit">Disconnect from google-oauth2</button>
		</form>
	{% else %}
		<button type="button" disabled>Disconnect from google-oauth2</button>
		<p style="color: red">You must <a href="{% url 'password' %}">define a password</a> for your account before disconnecting from Google Oauth.</p>
	{% endif %}

	{% else %}
		<label>
			<a href="{% url 'social:begin' 'google-oauth2' %}">
				<button class="loginBtn loginBtn--google">
					Login with Google
				</button>
			</a>
		</label>
	{% endif %}

<h3>Facebook</h3>
	{% if facebook_login %}
	<p>
		Connected as:- <b><i>({{ facebook_login.uid }})</i></b>
	</p>

		{% if can_disconnect %}
			<form method="post" action="{% url 'social:disconnect' 'facebook' %}">
				{% csrf_token %}
				<button type="submit">Disconnect from Facebook</button>
			</form>
		{% else %}
			<button type="button" disabled>Disconnect from Facebook</button>
			<p style="color: red">You must <a href="{% url 'password' %}">define a password</a> for your account before disconnecting from Facebook Login.</p>
		{% endif %}

	{% else %}
			<a href="{% url 'social:begin' 'facebook' %}">
				<button class="loginBtn loginBtn--facebook">
					Login with Facebook
				</button>
			</a>
		</label>
	{% endif %}

	<hr>

	<a href="{% url 'logout' %}">Logout</a>

{% endblock content %}